asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
cx-Oracle==8.3.0
Django==2.2.28
django-filter==23.3
django-recaptcha==3.0.0
django-simplecaptcha==2.0.0
djangorestframework==3.14.0
idna==3.4
importlib-metadata==6.8.0
Markdown==3.4.4
Pillow==10.0.1
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.5
zipp==3.17.0
